<template>
  <div>
    <img src="../assets/balloon-border.png" width="100%" class="balloon-border">
  </div>
</template>

<script>
import anime from 'animejs'
export default {
  props: {
    show: {
      type: Boolean,
      required: true,
    },
  },
  watch: {
    show(value) {
      if (value) {
        anime({
          targets: '.balloon-border',
          top: -500,
          duration: 8000,
          easing: 'easeInOutSine',
        })
      }
    },
  },
}
</script>


<style lang="stylus" scoped>
.balloon-border {
  position: fixed;
  top: 100%;
  opacity: 0.5;
  z-index: 9999;
}
</style>
