<template>
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="../assets/banner.png" class="banner">
    </div>
  </div>
</template>

<script>
import anime from 'animejs'

export default {
  props: {
    show: {
      type: Boolean,
      required: true,
    },
  },
  watch: {
    show(value) {
      if (value) {
        anime({
          targets: '.banner',
          translateY: '-50px',
          duration: 6000,
          easing: 'easeInOutSine',
        })
      }
    },
  },
}
</script>

<style lang="stylus" scoped>
.banner {
  transition: all 0.2s ease-in-out;
  transform: translateY(-1000px);
}
</style>
