<template>
  <div>
    <balloon :show="balloon"/>
    <div class="container">
      <top-bulb :on="light" :music="music"/>
      <banner :show="banner"/>
      <cake :show="cake"/>
      <div class="row fixed-bottom">
        <div class="col-md-6 text-center offset-md-3">
          <transition name="fade" mode="out-in">
            <button class="btn btn-primary" @click="turnOnLight" v-if="step === 0">Turn On Lights</button>
            <button class="btn btn-primary" @click="playMusic" v-if="step === 1">Play Music</button>
            <button class="btn btn-primary" @click="decorate" v-if="step === 2">Let's Decorate</button>
            <button class="btn btn-primary" @click="flyBalloon" v-if="step === 3">Fly With Balloons</button>
            <button
              class="btn btn-primary"
              @click="showCake"
              v-if="step === 4"
            >Most Delicious Cake Ever</button>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import anime from 'animejs'
import TopBulb from './TopBulb'
import Banner from './Banner'
import Balloon from './Balloon'
import Cake from './Cake'

export default {
  data() {
    return {
      step: 0,
      light: false,
      music: false,
      banner: false,
      balloon: false,
      cake: false,
    }
  },
  components: {
    TopBulb,
    Banner,
    Balloon,
    Cake,
  },
  methods: {
    turnOnLight() {
      this.light = true
      anime({
        targets: this,
        step: 1,
        duration: 5000,
      })
      anime({
        targets: 'body',
        background: '#fff',
        duration: 5000,
      })
    },
    playMusic() {
      this.music = true
      const iframe = document.createElement('iframe')
      iframe.width = 0
      iframe.height = 0
      iframe.src = 'https://www.youtube.com/embed/dilFiJVC9is?autoplay=1'
      document.body.appendChild(iframe)
      anime({
        targets: this,
        step: 2,
        duration: 3000,
      })
    },
    decorate() {
      this.banner = true
      anime({
        targets: this,
        step: 3,
        duration: 3000,
      })
    },
    flyBalloon() {
      this.balloon = true
      anime({
        targets: this,
        step: 4,
        duration: 8000,
      })
    },
    showCake() {
      this.cake = true
      anime({
        targets: this,
        step: 5,
        duration: 2000,
      })
    },
  },
}
</script>

<style lang="stylus" scoped>
.fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 30px;
}
</style>


