<template>
  <div :class="['row', 'top-bulb', { 'show': on, 'hide': !on }]">
    <div class="col-md-2 col-sm-2 col-xs-2" v-for="bulb in bulbs" :key="bulb">
      <img class="bulb" :src="require(`../assets/bulb/bulb_${bulb}.png`)">
    </div>
  </div>
</template>

<script>
import anime from 'animejs'

export default {
  data() {
    return {
      bulbs: ['yellow', 'red', 'blue', 'orange', 'purple', 'green'],
    }
  },
  props: {
    on: {
      type: Boolean,
      required: true,
    },
    music: {
      type: Boolean,
      required: true,
    },
  },
  watch: {
    music(value) {
      if (value) {
        anime({
          targets: '.bulb',
          opacity: 0.4,
          loop: true,
          direction: 'alternate',
          easing: 'easeInSine',
        })
        anime({
          targets: 'body',
          background: '#FAFAFA',
          loop: true,
          direction: 'alternate',
          easing: 'easeInOutSine',
        })
      }
    },
  },
}
</script>

<style lang="stylus" scoped>
.top-bulb {
  transition: all linear 5s;

  &.hide {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}

.bulb {
  width: 75px;
  max-width: 100%;
}
</style>

