<template>
  <div>
    <transition name="fade" mode="out-in">
      <loading v-if="loading"/>
      <container v-else/>
    </transition>
  </div>
</template>

<script>
import Loading from "./components/Loading";
import Container from "./components/Container";

export default {
  name: "app",
  data() {
    return {
      loading: true
    };
  },
  components: { Loading, Container },
  mounted() {
    setTimeout(() => {
      this.loading = false;
    }, 3000);
  }
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
